spring:
  datasource:
    url: jdbc:h2:mem:ormdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true

logging:
  level:
    org.springframework: warn
    org.hibernate.SQL: debug